.headline{
    font-family: 'PlayFair Display', serif;
    font-size: 32px;
}
.headline-small{
    font-family: 'PlayFair Display', serif;
    font-size: 24px;
}
.header-style{
    font-size: 18px;
}
.footer-fontstyle{
    font-size: 16px;
}