body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #41414E;
  overflow-x: hidden;
   font-family: 'Montserrat';
   font-weight: 300;
   letter-spacing: 0.8px;
}

h2, h3, h4, h5, h6, .h {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2.8px;
}


span, p, a, small, .p {
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 1.3rem;
}

.bold, strong {
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background-dark {
  background-color: #F5F4F2;
}
