.search-panel-wrapper {
  min-height: 200px;
  background-color: #e5e5e5;
}

.search-panel {
  width: 100%;
  max-width: 700px;
}

.search-panel--search-field {
  border-radius: 50px;
  height: 58px;
}

@media (max-width: 767px) {
  .search-panel--search-field {
    height: 40px;
  }

  .search-panel .btn{
    font-size: 18px;
    padding: 6px 40px;
  }
}
