.navigation-link  {
  font-size: 18px;
}

.navigation-link:hover {
  text-transform: none;
  text-decoration: none;
  color: #C3A871;
}

@media (min-width: 768px) {
  .navigation-link-wrapper {
    width: 50%;
  }
}
