.works{
  background: #F5F4F2;
  padding: 50px 10px;
  font-family: 'Lato', sans-serif;
}

.works h2{
  padding-bottom: 50px;
}

.MuiList-root.list-works {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
}

.MuiList-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.listitem-container {
  display: flex;
  flex-direction: row;
  margin: 60px auto;
}

.MuiListItem-button.listitem-title {
  font-size: 22px;
  padding: 10px 20px;
  border-bottom: 1px solid #c4c4c4;
}

.MuiListItem-button {
  padding: 20px !important;
}

.MuiListItem-button .year {
  width: 200px;
  padding: 10px;
}

.MuiListItem-button .work {
  width: calc(100% - 200px);
 
}

.MuiListItem-button.listitem-title .work {
  display: flex;
}

@media (max-width: 1200px) {
  .MuiList-root.list-works {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .MuiListItem-button .year {
    width: 100px;
  }
  .MuiListItem-button .work {
    width: calc(100% - 100px);
  }
  .MuiListItem-button {
    padding: 10px !important;
  }
}