.long_splitter {
  border-top: 20px dotted black;
  height: 35px;
  width: 35%;
}

.text-upper {
  text-transform: uppercase;
}

.space-2 {
  letter-spacing: 10px
}

.space-1 {
  letter-spacing: 10px
}

