.map {
  max-width: 1200px; 
  width: 100%;
  position: relative;
  max-height: 550px; 
  margin: 50px auto;
}
@media (max-width: 480px){
  .map{
    height: 250px !important;
    margin: 0 auto;
  }
}